<p-dialog header="Header" [(visible)]="dialogOpened" [style]="{ width: '100%', 'max-width': '650px' }"
    (onHide)="onHide()">
    <ng-template pTemplate="header">
        <div class="font-bold white-space-nowrap">
            Alterar Senha
        </div>
    </ng-template>
    <div>
        <div class="container-fluid">

            <div class="row mt-2">
                <div class="col-12 d-flex justify-content-center">
                    <p-floatLabel>
                        <input pInputText [(ngModel)]="username" id="usernameInput" />
                        <label for="usernameInput">Username</label>
                    </p-floatLabel>
                </div>

                <div class="col-12 d-flex justify-content-center">
                    <p-floatLabel>
                        <input pInputText type="password" [(ngModel)]="newPassword" id="newPasswordInput" />
                        <label for="newPasswordInput">Nova Senha</label>
                    </p-floatLabel>
                </div>

                <div class="col-12 d-flex justify-content-center">
                    <p-floatLabel>
                        <input pInputText type="password" [(ngModel)]="confirmNewPassword"
                            id="confirmNewPasswordInput" />
                        <label for="confirmNewPasswordInput">Confirmar Nova Senha</label>
                    </p-floatLabel>
                </div>

            </div>
        </div>


    </div>
    <ng-template pTemplate="footer">
        <div class="d-flex justify-content-center gap-3">
            <button class="btn app-primary-outline-button" (click)="close()">Cancelar</button>
            <button class="btn app-primary-button" (click)="changePassword()">Atualizar</button>
        </div>
    </ng-template>
</p-dialog>